{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord Administrateur{% endblock %}

{% block body %}
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg">
        <div class="grid grid-cols-3 gap-4 mb-4">
            <div class="flex items-center justify-center h-24 rounded bg-gray-50">
                <p class="text-2xl text-gray-400 ">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
