{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord Administrateur{% endblock %}

{% block body %}
    <div class="flex flex-col">
        <h1 class="font-medium text-xl mb-2 text-gray-500">Dashboard</h1>
        <div class="flex p-5 gap-3 relative">
            <div class="p-4 border-2 border-gray-200 rounded-lg flex-1 flex gap-3 items-center">
                <div class="rounded-full bg-orange-400 text-slate-50 flex items-center justify-center w-10 h-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5 17.021q.27-.171.574-.288t.657-.117h1.154V4H6.23q-.523 0-.877.365Q5 4.728 5 5.23zM6.23 21q-.929 0-1.58-.64Q4 19.722 4 18.809V5.23q0-.93.65-1.58Q5.302 3 6.23 3h7.27v1H8.385v12.616h7.23V12.5h1v5.116H6.232q-.502 0-.866.341Q5 18.3 5 18.804t.365.85t.866.346H19v-8.5h1V21zM5 17.021V4zM17.5 11.5q0-2.091 1.455-3.545T22.5 6.5q-2.091 0-3.545-1.455T17.5 1.5q0 2.091-1.455 3.546T12.5 6.5q2.091 0 3.546 1.455T17.5 11.5"/></svg>
                </div>
                <div class="flex flex-col justify-center">
                    <span class="text-xl font-semibold text-slate-900">{{ room_count }}</span>
                    <h3 class="text-base text-slate-500">Rooms</h3>
                </div>
            </div>
            <div class="p-4 border-2 border-gray-200 rounded-lg flex-1 flex gap-3 items-center">
                <div class="rounded-full bg-blue-500 text-slate-50 flex items-center justify-center w-10 h-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2.596 18.616v-1.647q0-.696.36-1.197q.361-.5.97-.8q1.301-.62 2.584-.988q1.282-.368 3.086-.368t3.087.368t2.584.988q.608.3.969.8q.36.501.36 1.197v1.647zm16 0v-1.693q0-.87-.352-1.641q-.351-.772-.998-1.324q.737.15 1.42.416q.682.267 1.35.599q.65.327 1.019.837t.369 1.113v1.693zm-9-7.231q-1.237 0-2.118-.882t-.882-2.119t.882-2.118t2.118-.882t2.119.882t.881 2.118t-.881 2.12t-2.119.88m7.27-3q0 1.238-.882 2.12t-2.118.88q-.064 0-.162-.014t-.162-.032q.509-.622.781-1.38q.273-.759.273-1.576t-.285-1.56t-.769-1.391q.081-.029.162-.038t.162-.009q1.237 0 2.118.882t.882 2.118m-13.27 9.232h12v-.647q0-.352-.176-.615t-.632-.504q-1.119-.598-2.36-.916t-2.832-.318t-2.833.318q-1.24.318-2.36.916q-.455.24-.631.504q-.176.263-.176.615zm6-7.231q.825 0 1.413-.588t.587-1.413t-.587-1.412t-1.413-.588t-1.412.588t-.588 1.412t.588 1.413t1.412.587m0-2"/></svg>
                </div>
                <div class="flex flex-col justify-center">
                    <span class="text-xl font-semibold text-slate-900">{{ user_count }}</span>
                    <h3 class="text-base text-slate-500">Users</h3>
                </div>
            </div>
            <div class="p-4 border-2 border-gray-200 rounded-lg flex-1 flex gap-3 items-center">
                <div class="rounded-full bg-green-500 text-slate-50 flex items-center justify-center w-10 h-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.63 20q-1.928 0-3.279-1.351T4 15.363q0-.808.277-1.574t.8-1.395l3.512-4.217L7.1 5.162q-.211-.404.018-.783q.23-.379.69-.379h8.384q.46 0 .69.379t.018.783l-1.489 3.015l3.512 4.217q.523.629.8 1.395q.277.765.277 1.574q0 1.935-1.35 3.286T15.37 20zm3.367-4.52q-.668 0-1.14-.475t-.472-1.143t.475-1.14t1.144-.472t1.14.476t.472 1.143t-.476 1.14t-1.143.472M9.51 7.75h5L15.875 5h-7.75zM8.63 19h6.74q1.521 0 2.576-1.064Q19 16.87 19 15.365q0-.634-.213-1.235t-.625-1.09l-3.58-4.29h-5.14l-3.584 4.285q-.414.488-.636 1.095Q5 14.736 5 15.369q0 1.502 1.065 2.567Q7.129 19 8.63 19"/></svg>
                </div>
                <div class="flex flex-col justify-center">
                    <span class="text-xl font-semibold text-slate-900">{{ revenue }}$</span>
                    <h3 class="text-base text-slate-500">Revenue</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
